html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.square{
    display: inline-block;
    height: 25px;
    width: 25px;
    /* border: 1px solid red; */
    border: 0;
}
#container{
    /* display: flex; */
    /* align-items: center; */
    border: 5px solid grey;
    /* margin: auto 0; */
    font-size: 0;
}
.hover{
    transition: 0.5s linear;
    background-color: red;
}
.hoverclear{
    background-color: white;
}
.buttons, .pickcont{
    display: flex;
    justify-content: center;
    align-items: center;
}